body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

.splash {
    text-align: center;
    margin-top: 9%;
}

.splash h1 {
    font-family: ;
    font-size: 5vw;
    color: cornflowerblue;
    letter-spacing: 0.25ch;
}

#sammy-portrait {
    max-width: 350px;
}
