*, html, body {
    margin: 0;
    padding: 0;
    background-color: azure;
}

h1#nickname.title {
    margin: 2% 0;
}

.splash {
    text-align: center;
    /* margin-top: 1%; */
    max-height: 100vw;
}

.splash h1 {
    font-family: ;
    font-size: 5vw;
    color: cornflowerblue;
    letter-spacing: 0.25ch;
}

#sammy-portrait {
    max-width: 375px;
}
